#portfolio {
  width: 100vw;
  height: 100%;
  background: white;
}

.portfolio-container {
  height: 100%;
}
.portfolio-item {
  width: 350px;
  height: 200px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  background-color: blue;
}
.portfolio-item:hover {
  background: #1abc9c4f;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
