@import "colors.scss";
#about {
  background: $primary-green;
  padding: 5rem 1rem;
  .title-section {
    font-size: 2.3em;
    line-height: 2rem;
    color: $primary-white;
  }
  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  i {
    color: $primary-white;
  }
  #about-container {
    width: 100%;
  }
  #info div {
    color: $primary-white;
    width: 95vw;
  }
  button:hover i {
    color: $primary-dark !important;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #about #info div {
    width: 95vw;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #about #info div {
    width: 90vw;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #about #info div {
    width: 50%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #about #info div {
    width: 30%;
  }
}
