@import "colors.scss";

$flattened-text: scale(1.1,1);
$full-with: 100%;

body{
    background-color: $primary-green;
    
}

h1{
    transform: $flattened-text;
}
h2{
    transform: $flattened-text;
}
p{
    transform: $flattened-text;
}
a {
    color:$primary-green;
}

/* Menu */
.navbar {
    background-color: $primary-dark;
    font-weight: 700;
    color: $primary-white;
    position: fixed;
    width: $full-with;
    overflow: hidden;
    z-index: 2;
    height: auto;
    padding: 1.2em 8%;
    a{
        color: $primary-white;
        transform: $flattened-text;
    }
}

/* Menu title logo */
 .navbar-brand {
    font-size: 1.75em;
    
}

.nav-link{
    padding:.8em;
}
.nav-link.active{
    background: $primary-green;
    border-radius: 5px;
    padding:.8em;
}

.divider-custom{
    
}
/* Star icon size */
.fa{
    font-size: 2.1em;
}
/* lines next to the star icon */
hr {
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1em;
    height: 4px;
    background: white;
    border-radius: 5px;
    width: 7em;
    
}

/* Start or first section*/
.start-content  {
    line-height: 3.5rem;
    padding: 5em 0;
    
    
    .title{
        font-size: 4rem;
        line-height: 3.5rem;
        font-weight: revert;
        
    }
    .subtitule{
        font-size:1.4em;
    }
}

@media (max-width: 576px) {
    hr{
        width: 4em;
    }
    .start-content{
        .title{
            font-size: 3rem;
        }
    }
    
  }


/* Modals style*/
.modal {

    .modal-dialog{
        max-width: 1140px;
        
    }
    .modal-content{
        border-radius: 0.75em;
        color: $primary-dark;
    }
    .modal-body{
        max-width: 750px;
        margin: auto;
    }
    img{
        display: block;
        text-align: center;
        margin: auto;
        border-radius: 0.75em;
    }
    hr{
        background-color: $primary-black;
        
    }
    .divider-custom {
        display: flex;
        margin: auto;
        
    }
    .close{
        display: flex;
        justify-content: flex-end;
        padding: 10px 20px 0 0;
        font-size: 3rem;
    }
    .close-modal{
        margin: auto;
        background-color: $primary-green;
        color: $primary-white;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    i{
        font-size:1.5em;
    }
    h5{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .modal-info{
        width: $full-with;
        margin: auto;
        padding: 1em 2em;
        text-align: center;
    }
}
 

/* Footer style*/
footer{

    color: $primary-white;
    background-color: $primary-dark;

    /* Footer Copyright sections */
    .copyright{
        background-color: $secondary-dark;
    }
    /* Footer social buttons */
    .container .btn{
        font-size: 1.4rem;
        line-height: 1.5;
        border-radius: 50%;
    }
}

/* Back to tup arrow button */
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    padding: 13px;
    background: $primary-black;
    border: none;
    opacity: .5;
    &:hover{
        color: $primary-white;
        background: $primary-black;
        border: none;
        opacity: .8;
    }
    i{
        font-size: 1.5em;
        color: $primary-white;
    }
} 
